{% extends 'base.html' %}

{% block title %}¿Cómo funciona?{% endblock %}

{% block content %}
    <div class="container m-3">
        <h2 class="fs-2">Propósito del sistema</h2>
        <p class="fs-5">Esta aplicación proporciona una herramienta eficaz para estudiar cualquier tema. Su funcionamiento se basa en el uso de "Decks" (conjuntos de tarjetas) y "Flashcards" (tarjetas de pregunta y respuesta). Estas tarjetas permiten organizar y revisar el contenido de manera estructurada, facilitando así el proceso de aprendizaje.</p>
        <br>
        <h2 class="fs-2">¿Cómo funciona?</h2>
        <ol>
            <li class="fs-5">Comienza creando tu cuenta e iniciando sesión en el sistema.</li>
            <li class="fs-5">Crea un nuevo conjunto de tarjetas (Deck).</li>
            <li class="fs-5">Asocia tarjetas de pregunta y respuesta (Flashcards) al conjunto.</li>
            <li class="fs-5">¡Listo! Inicia tu estudio y repasa los conceptos fundamentales para mejorar tu aprendizaje.</li>
        </ol>
    </div>
{% endblock %}
